@import "tailwindcss";

/* Hide scrollbars cross-browser */
.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

/* Apply custom styles to the slider's handle (thumb) */
.leverage-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
}

.leverage-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
}

/* Hide the default up/down arrows on number inputs */
.hide-number-spinners::-webkit-outer-spin-button,
.hide-number-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.hide-number-spinners {
    -moz-appearance: textfield;
}
